Wymagania: 

- Podstawowy ruch postaci - ruch lewo/prawo, skok, opadanie 

- Dodanie ataku bohatera po wciśnięciu przycisku na klawiaturze 

- Dodanie prostego systemu zbierania pieniędzy po wejściu w pieniążek. Informacja o zebranych pieniądzach powinna znajdować się na UI 

- Dodanie prostego systemu punktów życia dla gracza. Informacja o posiadanych punktach życia powinna znajdować się na UI (bazowo gracz posiada 3 punkty życia) 

- Implementacja prostego przeciwnika "grzyba" z punktami patrolowymi, który:  

    1) Jeżeli nie ma wyznaczonych punktów patrolu to stoi w miejscu.  

    2) Jeżeli posiada zdefiniowane punkty patrolu to porusza się między nimi. 

    3) Posiada 2 punkty życia. Jedno uderzenie gracza zabiera 1 punkty życia. Po utracie wszystkich punktów umiera 

    4) Jeżeli gracz wejdzie w przeciwnika to otrzymuje 1 punkty obrażeń i zostaje odepchnięty 

- Po utraceniu wszystkich punktów życia gracz umiera i nie można nim kontrolować 

- Animacje zmieniają się w zależności od stanu postaci 

Lista dodatkowych zadań: 

- Utworzenie własnego poziomu przy użyciu Tilemap oraz załączonych atlasów sprite'ów. 

- Dodanie nowego typu przeciwnika - Goblina, który potrafi zaatakować gracza, jeśli ten zbliży się na określoną odległość. Podobnie jak grzyb może stać w miejscu albo patrolować w zależności od ustawień w inspektorze. 

- Wykonanie projektu przy użyciu GIT 

- Projekt posiada bardzo dużo możliwości rozwoju, dlatego wszelkie nowatorskie pomysły na urozmaicenie rozgrywki są mile widziane :) 

Prosimy o wysłanie listy własnych feature'ów dodanych do projektu. Link do pełnej paczki assetów: https://o-lobster.itch.io/platformmetroidvania-pixel-art-asset-pack 